html {
  background: url(./img/my_nic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sans-Serif;
}

#what {
  position:absolute;
  width:10em;
  color: #fff;
  font-size: 2em;
  padding:1em;
  display:none;
}
